.App {
  text-align: center;
}

.main{
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
}

.Order{
  width: 50%;
  border:1px solid black;
}

.ButtonList{
  width: 50%;
  border: 1px solid red;
  
}
